.modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_modal{
    background-color: #b2bec3;
    color: #000;
    width: 60%;
    height: 65%;
    border-radius: 20px;
}

.close{
    background-color: transparent;
    outline: none;
    width: 32px;
    height: 32px;
    left: calc(85% + 64px);
    top: 16px;
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    border: none;
    color: #32325D;
}