/* */
.form-control{
    font-size: 1.2em;
}
.lista-produtos{
    background-color: rgb(222, 242, 248);
}
.lista-produtos input{
    border: 1px solid transparent;
}


nav.navbar.navbar-default{ background-color: #337ab7; border-color: #2e6da4; margin-top: 10px;
    border-radius: 5px;}
nav.navbar.navbar-default a { color: white; font-size:1.5em;
}
li p.navbar-text, a.navbar-brand { color: white!important; font-weight: bolder;
}
footer.footer { background-color: #337ab7; border-color: #2e6da4; margin-top: 55px;
color: white; border-radius: 5px;
}
footer.footer p { padding: 10px;
}